{{> header title="مركز الموهوبين التقنيّن" lang="ar" }}
{{> sidebar/sidebar }}
{{> banner }}
<div class="container-fulid bg-white py-4">
    <div class="container">
        <h3 class="text-center text-dark my-3">الدورات العلمية</h3>
        <div class="row d-flex align-items-stretch justify-content-center">
            {{#each courses }}
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
                    {{> courses/course this}}
                </div>
            {{/each}}
        </div>
        <div class="btn-group d-flex justify-content-center" role="group">
            {{#each pagination }}
                <a class="btn btn-secondary{{#if active }} active{{/if}}" href="{{ url }}">
                    {{ title }}
                </a>
            {{/each}}
        </div>
    </div>
</div>
{{> footer }}
