<div class="container-fulid bg-light py-4">
    <div class="container">
        <p class="text-muted text-center">
            Copyright 2018 <strong>Muhannad Alrusayni</strong>, Website source code is licensed
            under <a class="text-dark" href="https://opensource.org/licenses/mit-license.php">MIT</a>. And can be found
            on <a class="text-dark" href="https://gitlab.com/0x3uh4224d/CTI-Gate">GitLab</a>. It's written using
            <a class="text-dark" href="https://www.rust-lang.org/">Rust Language</a> and
            <a class="text-dark" href="https://rocket.rs">Rocket</a>
        </p>
    </div>
</div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
