{{> header title="مركز الموهوبين التقنيّن" lang="ar" }}
{{> sidebar/sidebar }}
{{> banner }}
{{#each infos }}
<div class="container-fulid bg-light py-4">
    <div class="container text-right">
        <h3 class="text-dark">{{ title }}</h3>
        <p class="text-muted">
            {{ info }}
        </p>
    </div>
</div>
{{/each}}
{{> footer }}
