{{> header title="مركز الموهوبين التقنيّن" lang="ar" }}
{{> sidebar/sidebar }}
<div class="container-fulid">
    <div class="row no-gutters">
        {{> dashboard/sidebar }}
        <!-- page content -->
        <div class="col-md-10 col-12 text-right bg-white row no-gutters justify-content-center">
            <form class="m-2 col-10" method="post">
                {{#if show_success_message }}
                    <div class="text-right mb-3">
                        <div class="alert alert-success text-right" role="alert">
                            تم حفظ الخبر!
                        </div>
                    </div>
                {{/if}}
                {{#if other_err}}
                    <div class="text-right alert alert-warning" role="alert">
                        {{ other_err }}
                    </div>
                {{/if}}
                <!-- title section  -->
                <div class="form-group row">
                    <bdo class="text-right col-10" dir="rtl">
                        <input class="form-control {{#if title_err}} is-invalid{{/if}}" id="title" name="title" type="text" value="{{ post.title }}" placeholder="عنوان الخبر" required/>
                        {{#if title_err}}
                            <div class="invalid-feedback">
                                {{ title_err }}
                            </div>
                        {{/if}}
                    </bdo>
                    <label class="col-1 col-form-label text-left" for="title">العنوان</label>
                </div>

                <!-- summary section -->
                <div class="form-group row">
                    <bdo class="text-right col-10" dir="rtl">
                        <input class="form-control {{#if summary_err}} is-invalid{{/if}}" id="summary" name="summary" type="text" value="{{ post.summary }}" placeholder="خلاصة الخبر" required/>
                        {{#if summary_err}}
                            <div class="invalid-feedback">
                                {{ summary_err }}
                            </div>
                        {{/if}}
                    </bdo>
                    <label class="col-1 col-form-label text-left" for="summary">الخلاصة</label>
                </div>

                <!-- content section -->
                <div class="form-group row">
                    <bdo class="text-right col-10" dir="rtl">
                        <textarea class="form-control {{#if page_content_err}} is-invalid{{/if}}" id="page_content" name="page_content" placeholder="محتوى الخبر" required>{{ post.page_content }}</textarea>
                        {{#if page_content_err}}
                            <div class="invalid-feedback">
                                {{ page_content_err }}
                            </div>
                        {{/if}}
                    </bdo>
                    <label class="col-1 col-form-label text-left" for="page_content">المحتوى</label>
                </div>

                <!-- darft or publish section -->
                <div class="form-check col-10 text-right">
                    <label class="form-check-lable mr-2" for="draft">إحفظ هذا الخبرة لتعديلة فيما بعد ولا تقوم بنشرة</label>
                    <bdo dir="rtl">
                        <input id="draft" class="form-check-input ml-1" name="draft" type="checkbox" value="true" {{#if post.draft}} checked {{/if}}/>
                    </bdo>
                </div>

                <div class="form-group row">
                    <button class="btn btn-primary col-10" type="submit">حفظ</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{> footer }}
