<div class="card rounded-0">
    <div class="card-body py-4 px-5">
        <bdo class="text-right" dir="rtl">
            <h5 class="py-2">{{ title }}</h5>
            <p>
                {{#if expand}}
                    {{ page_content }}
                {{else}}
                    {{ summary }}
                {{/if}}
            </p>
        </bdo>
    </div>
    <div class="card-footer p-3 text-muted">
        <div class="d-flex flex-md-row flex-md-row-reverse flex-column align-items-md-center align-items-end">
            {{#if author }}
                <div class="d-flex flex-row align-items-center ml-3">
                    <a class="badge badge-light" href="/member/{{ author.page_id }}/">
                        {{ author.first_name }}
                    </a>
                    <div style="width:36px" class="text-center">
                        <i class="fas fa-pencil-alt"></i>
                    </div>
                </div>
            {{/if}}
            <div class="d-flex flex-row flex-warp align-items-center ml-3">
                <div class="text-nowrap">
                    {{ published_at }}
                </div>
                <div style="width:36px" class="text-center">
                    <i class="fas fa-calendar-alt"></i>
                </div>
            </div>
            {{#if club}}
                <div class="d-flex flex-row align-items-center ml-3">
                    <a class="badge badge-light" href="/club/{{ club.page_id }}/">
                        {{ club.clubname }}
                    </a>
                    <div style="width:36px" class="text-center">
                        <i class="fas fa-users"></i>
                    </div>
                </div>
            {{/if}}
            <div class="d-flex flex-row align-items-center ml-2 mr-auto">
                {{#unless expand}}
                    <a class="text-center align-middle text-dark" title="أقراء المزيد" href="/post/{{ page_id }}">
                        <i class="fab fa-readme" data-fa-transform="grow-5"></i>
                    </a>
                {{/unless}}
                {{#if draft}}
                    <i class="ml-3 far fa-eye-slash" title="لم تنشر بعد"></i>
                {{/if}}
            </div>
        </div>
    </div>
</div>
