{{> header title="مركز الموهوبين التقنيّن" lang="ar" }}
{{> sidebar/sidebar }}
{{> banner }}
<div class="container-fulid bg-white py-4">
    <div class="container">
        <h3 class="text-center text-dark">خدمات المركز</h3>
        <div class="row d-flex align-items-stretch justify-content-center">
            {{#each services }}
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 my-3">
                    {{> services/service this}}
                </div>
            {{/each}}
        </div>
    </div>
</div>
<div class="container-fulid bg-secondary py-4">
    <div class="container">
        <h3 class="text-center text-white my-3">آخر الأخبار</h3>
        {{#each posts }}
            <div class="row mb-5">
                <div class="col-12">
                    {{> news/post_box this }}
                </div>
            </div>
        {{/each}}
    </div>
</div>
<div class="container-fulid bg-dark py-4">
    <div class="container">
        <h3 class="text-center text-light my-3">النوادي</h3>
        <div class="row d-flex align-items-stretch justify-content-center">
            {{#each clubs }}
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 my-3">
                    {{> clubs/club_box this}}
                </div>
            {{/each}}
        </div>
    </div>
</div>
<div class="container-fulid bg-light py-4">
    <div class="container">
        <h3 class="text-center text-dark my-3">الدورات العلمية</h3>
        <div class="row d-flex align-items-stretch justify-content-center">
            {{#each courses }}
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
                    {{> courses/course this}}
                </div>
            {{/each}}
        </div>
    </div>
</div>
{{> footer }}
